.sider {
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem;
  position: fixed;
  top: 4rem;
  width: 15rem;
}

.sider-items {
  display: flex;
  flex-direction: column;
}

.sider-item {
  list-style: none;
}

.sider-link {
  text-decoration: none;
}

.sider-link-icon {
  height: 1.5rem;
  width: 1.5rem;
  background-color: blue;
}
