.table {
  white-space: nowrap;
  overflow: auto visible;
}
.table-header-row {
  border-bottom: 1px solid #f3f2f1;
  min-width: 100%;
}

.table-header-cell {
  display: inline-block;
  font-weight: bold;
  overflow: hidden;
  padding: 0.5rem;
  white-space: nowrap;
}

.table-header-select {
  width: 2rem;
}

.table-body-row {
  border-bottom: 1px solid #f3f2f1;
  min-width: 100%;
}

.table-body-cell {
  display: inline-block;
  overflow: hidden;
  padding: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-body-select {
  width: 2rem;
}
